html{
    background-color: #5c5c5c;
    padding: 20px;
}

body{
    width: 500px;
    margin: auto;
    padding: 0 0 5px 0;
    color: #080808;
    font-family: arial;
    border: 1px gray;
    background-color: #f5f5f5;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

h1{
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 0;
    border-bottom: 1px gray solid;
    background-color: #dedede;
    padding: 0 5px 0 5px;
    color: #454545;
    
}

h2{
    padding: 0 10px 0 10px;
}


p{
    padding: 0 10px 0 10px;
}

label{
    display: block;
    width: 100%;
}
