{%extends "base.html"%}
{%block title%}subscribe{%endblock%}

{%block header%}Subscribe{%endblock%}


{%block content%}
{%if comment%}
<p>
<strong>{{comment}}</strong>
</p>
{%endif%}
<p>
Every night we'll check if DDS is serving something the next day that matches your subscription.  If so, you'll get an email.  These emails will let you unsubscribe if you're no longer interested.<br/><br/>

You can subscribe to specific items ("General Tso's") or general search terms ("Chicken"). Use commas to separate multiple items.
</p>

<form action="" method="post">
{{form.as_p}}
<p>
<input type="submit" value="Save"/>
</p>
</form>
{%endblock%}
